<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 容联短信 SDK -->
    <bean id="sendSMSSDK" class="com.jnshu.tools.SendSMSSDK">
        <constructor-arg name="accountSid" value=""/>
        <constructor-arg name="accountToken" value=""/>
        <constructor-arg name="AppId" value="" />
    </bean>

    <!-- SendCloudMail SDK -->
    <bean id="sendMailSDK" class="com.jnshu.tools.SendMailSDK">
        <constructor-arg name="apiUser" value="" />
        <constructor-arg name="apiKey" value="" />
        <constructor-arg name="apiUrl" value="http://api.sendcloud.net/apiv2/mail/send" />
    </bean>

    <!-- 七牛云 SDK-->
</beans>