<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="rlSMS" class="com.jnshu.tools.RlSMS">
        <constructor-arg name="AccountSid" value=""/>
        <constructor-arg name="AccountToken" value=""/>
    </bean>
</beans>